/* font import */ 
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
  font-family: 'Silkscreen'; 
  
}
body {
  background: linear-gradient(to right, #FBAB7E, #F7CE68, #cc7818);
  }
button {
  font-size: 50px; 
  padding: 20px; 
  background: coral; 
  border: 2px solid ;
  color: black; 
}
button:hover {
  background-color: rgb(235, 173, 173); 
}
button:active {
  background: rgb(245, 215, 215); 

}
.operator, 
.clear {
  background: rgb(73, 71, 71); 
  border: 2px solid coral; 
  color: white; 
}
.operator:hover {
  background-color: white; 
  color: black; 
}
.clear:hover {
  background-color: red; 
}
.operator:active {
  background:rgb(245, 215, 215);
}
.clear:active {
  background: rgb(182, 5, 5); 
}

.headerContainer {
  display: grid; 
  grid-template-columns: auto; 
  justify-content: center;
  padding: 35px; 
  font-size: 30px; 
  font-weight: 900; 
  background: coral; 
  box-shadow: 1px 1px 30px 1px black; 
}

.calcContainer {
  display: grid; 
  justify-content: center;
  padding-top: 30px; 
}
.screen {
  display: flex;
  height: 200px; 
  width: 400px; 
  /* background-color: rgb(238, 152, 121); */
  background: coral; 
  justify-content: center;
  align-items: center;
  font-size: 50px; 
  color: white; 
}

.buttonsContainer {
  display: grid; 
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(5, auto);
  height: 400px; 
  width: 400px;  
}
.inputDiv {
  display: flex; 
  background: rgb(122, 82, 68); 
  grid-column: 1/4; 
  /* text-align: end */
  justify-content: end;
  align-items: flex-end;
  font-size: 50px; 
  /* color: rgb(248, 227, 227); */
  color: white; 
}
.input {
  display: flex; 
  background: rgb(122, 82, 68); 
  grid-column: 1/4; 
  /* text-align: end */
  justify-content: end;
  align-items: flex-end;
  font-size: 50px !important; 
  /* color: rgb(248, 227, 227); */
  color: white; 
}
.clear {
  grid-column: 4/5;
}